*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgba(8, 0, 255, 0.622);
    color: white;
}


.square{
    height: 50px;
    width: 50px;
    background-color: black;
}